@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    PeopleOverview is a didactic project.<br>
    The data recorded in PeopleOverview will not be processed in any way.<br>
</p>
